{% extends "common/page_base.html" %}

{% block title %}
New Invite
{% endblock %}

{% block content %}

    <form method="POST" action="{{ url_for('account.invitation_new') }}">
        {{ form.csrf_token }}
        <p> {{ form.email.label }} <br> {{ form.email(size=20) }}
        <p> {{ form.steam_id.label }} <br> {{ form.steam_id(size=20) }}
        <p> <input type="submit" class="btn btn-primary" value="Create Invitation">
    </form>

    <br />

    <div>If you can't find Steam ID, try <a href="https://steamidfinder.com/" target="_blank">steamidfinder</a>.</div>

{% endblock %}
