{% extends "common/page_base.html" %}

{% block title %}
Invitations
{% endblock %}

{% block content %}

    <p class="text-right">
        <a class="btn btn-default btn-sm .text-right" href="{{ url_for('account.invitation_new') }}" role="button">New Invitation</a>
    </p>


    <table class="table table-hover">

        <tr>
            <th>token</th>
            <th>type</th>
            <th>active</th>
            <th>created</th>
            <th>valid until</th>
            <th>created by</th>
            <th>note</th>
        </tr>


        {% for invitation in invitations %}
        <tr>
            <td>{{ invitation.uid.hex }}</td>
            <td>{{ invitation.token_type }}</td>
            <td>{{ invitation.is_active }}</td>
            <td>{{ invitation.created_at }}</td>
            <td>{{ invitation.valid_until }}</td>
            <td>{{ invitation.user_uid }}</td>
            <td>{{ invitation.note }}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}
