{% extends "common/page_base.html" %}

{% block title %}
Invitations
{% endblock %}

{% block content %}

    <p class="text-right">
        <a class="btn btn-default btn-sm .text-right" href="{{ url_for('account.invitation_new') }}" role="button">New Invitation</a>
    </p>


    <table class="table table-hover">

        <tr>
            <th>token</th>
            <th>active</th>
            <th>valid until</th>
            <th>created by</th>
            <th>for user</th>
        </tr>


        {% for invite in invites %}
        <tr>
            <td>{{ invite.token }}</td>
            <td>{{ invite.active }}</td>
            <td>{{ invite.valid_until }}</td>
            <td>{{ invite.created_by }}</td>
            <td>{{ invite.for_user }}</td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}
