{% extends "common/page_base.html" %}

{% block title %}
Registration
{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-7">

    <form method="POST" action="{{ url_for('account.registration_via_token', invitation_token_uid=invitation_token_uid) }}">
        <fieldset>
            <legend>Registration Form</legend>
            {{ form.csrf_token }}

            {% for field in form %}
                {% if field.type!='HiddenField' %}
                    {% if field.name!='csrf_token' %}

                        <div class="form-group">
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ field.label }} <br> {{ field(size=25) }}
                        </div>

                    {% endif %}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </fieldset>
    </form>

  </div>
  <div class="col-md-5">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">GDPR Statement (v{{ gdpr_version }})</h3>
      </div>
      <div class="panel-body">

        <p>
            Here at <strong>voles.cz</strong> we take your privacy seriously and
            will only use your personal information to administer your account and
            to provide the services you have requested from us.
        </p>


        <h5>What we store</h5>

        <p>
            We primarly store your <strong>username, e-mail, steam ID, scores
            on CS:GO matches,</strong> etc.
        </p><p>
            And of course, we use <strong>cookies</strong> :-)
        </p>


        <h5>What we share with other companies</h5>

        <p>
            We use <strong>Google's reCAPTCHA v2</strong> to be sure that
            our system is in safety against robots.
        </p><p>
            This technology scans your computer for google's cookies, your
            browser environment and so no. For more information, see
            <a href="https://policies.google.com/privacy">Google's Privacy Policy</a>.
        </p><p>
            We don't provide any other information to any other company.
        </p>

        <h5>Contacts from us</h5>

        <p>
            We send you an email in necessary cases: a registration confirmation, forgotten password, etc.
        </p>


        <h5>Leaving</h5>

        <p>
            If you wish to leave our services, your personal data will be deleted at once.
            Your scores in CS:GO matches are public data and we will collect it if you still play with us.
        </p>

      </div>
    </div>

  </div>
</div>

{% endblock %}
