{% extends "common/page_base.html" %}

{% if result==True %}

    {% block title %}
    Successfully Password Changed
    {% endblock %}

    {% block content %}

        <p class="lead">You're password was changed successfully!</p>

    {% endblock %}

{% endif %}

{% if result==False %}

    {% block title %}
    Password Change Failed
    {% endblock %}

    {% block content %}

        <p class="lead">Your Token was outdated!</p>

        Please, try it again.

    {% endblock %}

{% endif %}
