{% extends "common/page_base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}

    <form method="POST" action="{{ url_for('account.reset_password', token_uid=reset_password_token) }}">
        <fieldset>

            {{ form.csrf_token }}
            <div class="form-group">
                {% for error in form.password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}

                {{ form.password1.label }} <br> {{ form.password1(size=25) }}
            </div>
            <div class="form-group">
                {% for error in form.password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}

                {{ form.password2.label }} <br> {{ form.password2(size=25) }}
            </div>
            <div class="form-group">
                {% for error in form.recaptcha.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}

                {{ form.recaptcha }}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>

        </fieldset>
    </form>

{% endblock %}
