{% extends "common/page_base.html" %}

{% set title_value="Successfully Password Changed" %}
{% set lead="You're password was changed successfully!" %}
{% set paragraph="" %}
{% if result==False %}
    {% set title_value='Password Change Failed' %}
    {% set lead="Your Token was outdated!" %}
    {% set paragraph="Please, try it again." %}
{% endif %}


{% block title %}
{{ title_value }}
{% endblock %}

{% block content %}

    <p class="lead">{{ lead }}</p>

    {{ paragraph }}

{% endblock %}
