<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% import "bootstrap/fixes.html" as fixes %}
        {{fixes.ie8()}}

        {% import "bootstrap/wtf.html" as wtf %}

        <link href="{{bootstrap_find_resource('flatly/bootstrap.css', cdn='bootswatchcdn')}}" rel="stylesheet">

        <title>Hell-Bent VoleS</title>

    </head>


    <body>

        <div class="container">
            <div class="header clearfix">

            {{nav.top.render(renderer="bootstrap")}}

            <h3 class="text-muted">Hell-Bent VoleS</h3>
            </div>


            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>This is secret!</h4>
                    <p>We are tough players of the game CS:GO. We have a strategy and we are not afraid to use it!</p>
                </div>
            </div>

            <footer class="footer">
                <p>&copy; 2018 VoleS</p>
                <p>[c: {{ commit_hash }} | d: {{ deploy_ts }}]</p>
                <p>
                    <a href="https://github.com/hb-voles/volesilla">volesilla</a>
                    <a href="http://www.bootlint.com/?url=https://voles.celestian.cz">bootlint</a>
                </p>
            </footer>

        </div> <!-- /container -->

        <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
        <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrapcdn')}}"></script>
    </body>

</html>
